.idea
app/.idea
dbdata
backup
app/venv
app/env
app/tmp_xml
app/smlb/*.log
app/logs/**
!app/logs/.gitignore
app/app.iml
app/**/*.pyc
app/smlb/__pycache__/*.pyc
app/*.sqlite3

**/migrations/**
!**/migrations/__init__.py
**/static/**
!**/static/.gitignore
